<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header d-flex align-items-center justify-content-between mb-2 py-3">
        <h6 class="h4 m-0 text-primary" style="font-weight: 500;">Employees Information</h6>
        <div class="d-flex">
            <a routerLink="/add-employees" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" *ngIf="this.commonService.getUrl('/add-employees')" ><i
                    class="fas fa-user fa-sm text-white-50"></i> Add Employee</a>
            <form class="d-none d-sm-inline-block form-inline ml-3">
              <!-- (ngSubmit)="search()" -->
                <div class="input-group">
                    <input type="text" class="form-control form-control-sm  " placeholder="Search for..."
                        aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="searchTerm" name="searchTerm">
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-sm" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card-body row" style="position: relative;">
      <div *ngIf="isLoading; else elseForm" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <app-loader :title="loadingTitle" />
      </div>
      <ng-template #elseForm >
        <div class="table-responsive col-md-12 ">

          <table class="table table-bordered w-100" style="text-align: center;">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Profile</th>
                <th scope="col">Name</th>
                <th scope="col">Father Name</th>
                <th scope="col">Gender</th>
                <th scope="col">P.No</th>
                <th scope="col">Join Date</th>
                <th scope="col">Dep</th>
                <th scope="col">Des</th>
                <th scope="col">Cat</th>
                <th scope="col" *ngIf="this.commonService.checkDeleteRole()"  >Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr scope="row" *ngFor="let employee of employees | filter:searchTerm | paginate:{
               itemsPerPage:perPage, currentPage:page, totalItems:total}; let i = index;">
                <td>{{ employee.id }}</td>
                <td>
                  <div class="avatar-container">
                    <img [src]="imgUrl + 'profile' + '/' + employee.image " class="avatar-img" alt="Avatar">
                  </div>
                </td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.father_name }}</td>
                <td>{{ employee.gender }}</td>
                <td>{{ employee.phone }}</td>
                <td>{{ employee.joining_date }}</td>
                <td>{{ employee.department_id }}</td>
                <td>{{ employee.designation_id }}</td>
                <td>{{ employee.category_id }}</td>
                <td *ngIf="this.commonService.checkDeleteRole()"  >
                  <a routerLink="/add-employees/{{employee.id}}/edit" *ngIf="this.commonService.getUrl('/add-employees/'+employee.id+'/edit')" class="fas fa-edit text-blue-50" style="margin:0px 10px 0px 7px;"></a>
                  <a class="fas fa-trash-alt " style="color: #ff6347; cursor:pointer" (click)="confirmDialog(employee.id)"></a>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <pagination-controls
            previousLabel = "prev"
            nextLabel = "Next"
            (pageChange) = "onTableDataChange($event)"></pagination-controls>
          </div>
        </div> 
      </ng-template>   
    </div>
  </div>
</div>

