<div class="container-fluid">

  <div class="card shadow mb-4">
    <div class="card-header d-sm-flex py-3">
      <h6 class="h4 m-0 text-primary" style="font-weight: 500;">Student Admission Form</h6>
    </div>

    <div class="card-body py-4">
      <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="name">Name:</label>
              <input formControlName="name" type="text" class="form-control" id="name" placeholder="Enter Name" required>
              <div *ngIf="studentForm.get('name')?.invalid && studentForm.get('name')?.touched" class="text-danger">
                Name is required.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="father_name">Father Name:</label>
              <input formControlName="father_name" type="text" class="form-control" id="father_name" placeholder="Enter Father's Name" required>
              <div *ngIf="studentForm.get('father_name')?.invalid && studentForm.get('father_name')?.touched" class="text-danger">
                Father Name is required.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="b_form">B-Form No:</label>
              <input formControlName="b_form" type="text" class="form-control" id="b_form" placeholder="Enter B-Form Number" required>
              <div *ngIf="studentForm.get('b_form')?.invalid && studentForm.get('b_form')?.touched" class="text-danger">
                B-Form is required.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="father_cnic">Father's CNIC:</label>
              <input formControlName="father_cnic" type="text" class="form-control" id="father_cnic" placeholder="Enter Father's CNIC" required>
              <div *ngIf="studentForm.get('father_cnic')?.invalid && studentForm.get('father_cnic')?.touched" class="text-danger">
                Father's CNIC is required.
              </div>
            </div>
          </div>
        </div>          
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label for="gender">Gender:</label>
                  <select formControlName="gender" class="form-control" required>
                    <option value="" disabled selected>Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                  </select>
                  <div *ngIf="studentForm.get('gender')?.invalid && studentForm.get('gender')?.touched" class="text-danger">
                    Gender is required.
                  </div>
                </div>
                
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="dob">Date of Birth:</label>
              <input formControlName="dob" type="date" class="form-control" id="dob" required>
              <div *ngIf="studentForm.get('dob')?.invalid && studentForm.get('dob')?.touched" class="text-danger">
                Date of Birth is required.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Email:</label>
              <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter Email" required>
              <div *ngIf="studentForm.get('email')?.invalid && studentForm.get('email')?.touched" class="text-danger">
                Valid email is required.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="phone">Phone:</label>
              <input formControlName="phone" type="tel" class="form-control" id="phone" placeholder="Enter Phone Number" required>
              <div *ngIf="studentForm.get('phone')?.invalid && studentForm.get('phone')?.touched" class="text-danger">
                Valid phone number is required.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="address">Address:</label>
              <textarea formControlName="address" class="form-control" id="address" rows="3" placeholder="Enter Address" required></textarea>
              <div *ngIf="studentForm.get('address')?.invalid && studentForm.get('address')?.touched" class="text-danger">
                Address is required.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
                <label for="class">Class:</label>
                <select formControlName="class" class="form-control" id="class" required>
                    <option value="" disabled selected>Select Class</option>
                    <option *ngFor="let option of classOptions" [value]="option">{{ option }}</option>
                </select>
                <div *ngIf="studentForm.get('class')?.invalid && studentForm.get('class')?.touched" class="text-danger">
                    Class is required.
                </div> 
            </div>
        </div>          
        </div>
        
        <div class="row">
          <div class="col-md-12 d-flex ">
            <div class="form-group col-md-6">
              <label for="profileImage">Profile Image:</label>
              <div class="custom-file">
                <input type="file" id="profileImage" (change)="onFileSelected($event)" accept="image/*" class="custom-file-input">
                <label class="custom-file-label" for="profileImage"></label>
              </div>
            </div>
              <div class="col-md-6">
                <div class="row d-flex justify-content-center align-content-center mt-3">
                    <img style="height: 180px; width: 150px; border:solid rgb(228, 228, 228); border-radius: 10%;" [src]="imageURL">
                </div>
                <div *ngIf="studentForm.get('profileImage')?.invalid && studentForm.get('profileImage')?.touched" class="text-danger">
                  Profile image is required.
                </div>
              </div>         
          </div>
        </div>
        
        
        <button type="submit" class="btn btn-primary" [disabled]="studentForm.invalid" >Submit</button>
        
      </form>
    </div>
  </div>
</div>
