<div class="container col-md-12">
    <h4 style="font-weight: 500;">Create Designation </h4>
    <form [formGroup]="designationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">designationForm Title:</label>
        <input type="text" class="form-control" formControlName="title" placeholder="Enter Designation Name">
        <div *ngIf="designationForm.get('title')?.touched && designationForm.get('title')?.invalid" class="text-danger">
         Designation Name is required.
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  