<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header d-sm-flex align-items-center justify-content-between mb-2 py-3">
      <h6 class="h4 m-0 text-primary" style="font-weight: 500;">Manage Promotions</h6>
      <button class="btn btn-primary" (click)="toggleTable()">Manage Promotions</button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="form-group col-md-3">
          <label for="currentSession">Current Session:</label>
          <select style="width: 100%;" formControlName="currentSession" class="form-control" id="currentSession">
            <option value="" disabled selected>Select Current Session</option>
            <option *ngFor="let session of currentSessions" [value]="session">{{ session }}</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="sessionFrom">Next Session:</label>
          <select style="width: 100%;" formControlName="sessionFrom" class="form-control" id="sessionFrom">
            <option value="" disabled selected>Select Next Session</option>
            <option *ngFor="let session of sessions" [value]="session">{{ session }}</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="promotingFrom">Promoting From:</label>
          <select style="width: 100%;" formControlName="promotingFrom" class="form-control" id="promotingFrom">
            <option value="" disabled selected>Select Promoting From</option>
            <option *ngFor="let class of classes" [value]="class">{{ class }}</option>
          </select>
        </div>
        <div class="form-group col-md-3">
          <label for="promotingTo">Promoting To:</label>
          <select style="width: 100%;" formControlName="promotingTo" class="form-control" id="promotingTo">
            <option value="" disabled selected>Select Promoting To</option>
            <option *ngFor="let class of classes" [value]="class">{{ class }}</option>
          </select>
        </div>
        
      </div>
      <table *ngIf="showTable" class="table table-bordered mt-4">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Student Name</th>
            <th scope="col">Section</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{ student.image }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.section }}</td>
            <td>{{ student.status }}</td>
            <td>
              <button class="btn btn-success" style="margin-left: 10px;" (click)="enrollToNextClass(student)">Enroll to {{ student.nextClass }}</button>
              <button class="btn btn-danger" style="margin-left: 10px;" (click)="enrollToPreviousClass(student)">Enroll to {{ student.previousClass }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
