.colorful {
    background-color: #f8f9fc; /* Light blue background */
    border-color: #ced4da; /* Light grey border */
    color: #495057; /* Dark grey text color */
  }
  
  .colorful:focus {
    background-color: #fff; /* White background on focus */
    border-color: #80bdff; /* Blue border on focus */
    color: #495057; /* Dark grey text color */
  }
  