<div class="container-fluid">
    <div class="card shadow mb-4" style="height: 400px;">
        <div class="card-header d-sm-flex align-items-center justify-content-between mb-2 py-3">
            <h6 class="h4 m-0 text-primary" style="font-weight: 500;">Class Routine</h6>
            <a routerLink="/add-class-routine" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
              class="fas fa-user fa-sm text-white-50"></i> Add Class Routine</a>
        </div> 

        <div class="row">
            
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" style="margin-left: 40px; margin-top: 20px;" type="button" data-toggle="dropdown" aria-expanded="false">
                      Select Class
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Class One</a>
                        <a class="dropdown-item" href="#">Class Two</a>
                        <a class="dropdown-item" href="#">Class Three</a>
                        <a class="dropdown-item" href="#">Class Four</a>
                        <a class="dropdown-item" href="#">Class Five</a>
                        <a class="dropdown-item" href="#">Class Six</a>
                        <a class="dropdown-item" href="#">Class Seven</a>
                        <a class="dropdown-item" href="#">Class Eight</a>
                        <a class="dropdown-item" href="#">Class Nine</a>
                        <a class="dropdown-item" href="#">Class Ten</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" style="margin-left: 40px; margin-top: 20px;" type="button" data-toggle="dropdown" aria-expanded="false">
                      Select Section
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Section A</a>
                        <a class="dropdown-item" href="#">Section B</a>
                        <a class="dropdown-item" href="#">Section C</a>
                        <a class="dropdown-item" href="#">Section D</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <button class="btn btn-primary" style="margin-left: 40px; margin-top: 20px;">Filter</button>
            </div>
        </div>
        <div class="text-center" style="margin-top: 10%; ">
            <h6>No data found</h6>
        </div>
        
    </div>
</div>
