<div class="container-fluid">
  <div class="card shadow mb-4">
    <div
      class="card-header d-sm-flex align-items-center justify-content-between mb-2 py-3"
    >
      <h6 class="h4 m-0 text-primary" style="font-weight: 500">
        Events Information
      </h6>
      <div class="d-flex">
        <a
          routerLink="/add-event"
          *ngIf="this.commonService.getUrl('/add-event')"
          class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
        >
          <i class="fas fa-calendar-plus fa-sm text-white-50"></i> Add Event
        </a>
      </div>
    </div>
    <div class="card-body" style="position: relative">
      <div
        *ngIf="isLoading; else elseForm"
        style="
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        "
      >
        <app-loader title="Loading Events..." />
      </div>
      <ng-template #elseForm>
        <div class="table-responsive col-md-12">
          <table class="table table-bordered w-100" style="text-align: center">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Event Title</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col" *ngIf="this.commonService.checkDeleteRole()">
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                scope="row"
                *ngFor="
                  let event of events
                    | paginate
                      : {
                          itemsPerPage: perPage,
                          currentPage: page,
                          totalItems: total
                        };
                  let i = index
                "
              >
                <td>{{ i + 1 }}</td>
                <td>{{ event.eventTitle }}</td>
                <td>{{ event.date | date : "EEE, MMM d y" }}</td>
                <td>
                  <span
                    style="font-weight: 500"
                    [ngClass]="{
                      'text-success': event.status === 'Active',
                      'text-danger': event.status === 'Inactive'
                    }"
                  >
                    {{ event.status }}
                  </span>
                </td>
                <td *ngIf="this.commonService.checkDeleteRole()">
                  <a
                    routerLink="/add-event/{{ event.id }}/edit"
                    *ngIf="
                      this.commonService.getUrl(
                        '/add-event/' + event.id + '/edit'
                      )
                    "
                    class="fas fa-edit text-blue-50"
                    style="margin: 0px 10px 0px 7px"
                  ></a>
                  <a
                    class="fas fa-trash-alt"
                    style="color: #ff6347"
                    (click)="confirmDialog(event.id)"
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <pagination-controls
              previousLabel="prev"
              nextLabel="Next"
              (pageChange)="onTableDataChange($event)"
            ></pagination-controls>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
