<div class="container ">
  <div class="card shadow mb-4">
      <div class="card-header d-sm-flex py-3">
        <h6 class=" h4 m-0 text-primary" style="font-weight: 500;" >Create Department</h6>
      </div>
      <div class="card-body">
        <form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Department Name</label>
            <input type="text" class="form-control" formControlName="title" placeholder="Enter Department Name">
            <div *ngIf="departmentForm.get('title')?.touched && departmentForm.get('title')?.invalid" class="text-danger">
              Department Name is required.
            </div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="departmentForm.invalid">{{ forUpdate ? 'Update' : 'Submit' }}</button>
        </form>
      </div>
  </div>
</div>
  