<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header d-sm-flex py-3">
            <h6 class="h4 m-0 text-primary" style="font-weight: 500;">Create Syllabus</h6>
        </div>

        <div class="card-body py-4">
            <form [formGroup]="syllabusForm" (ngSubmit)="SubmitSyllabus()" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input formControlName="title" type="text" class="form-control" id="title" placeholder="Enter Title" required>
                            <div *ngIf="syllabusForm.get('title')?.invalid && syllabusForm.get('title')?.touched" class="text-danger">
                                Title is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="class_id">Select Class:</label>
                            <select formControlName="class_id" class="form-control" id="class_id" required>
                                <option value="" disabled selected>Select Class</option>
                                <option *ngFor="let option of classes" [value]="option.id">{{ option.title }}</option>
                            </select>
                            <div *ngIf="syllabusForm.get('class_id')?.invalid && syllabusForm.get('class_id')?.touched" class="text-danger">
                                Class is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="subject_id">Select Subject:</label>
                        <select formControlName="subject_id" class="form-control" id="subject_id" required>
                            <option value="" disabled selected>Select Subject</option>
                            <option *ngFor="let option of subjects" [value]="option.id">{{ option.title }}</option>
                        </select>
                        <div *ngIf="syllabusForm.get('subject_id')?.invalid && syllabusForm.get('subject_id')?.touched" class="text-danger">
                            Subject is required.
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="syllabus_file">Upload Syllabus File:</label>
                        <div class="input-group">
                            <div class="custom-file">                                    
                                <label class="custom-file-label" for="syllabus_file">Choose File</label>
                                <input type="file"  class="form-control" id="syllabus_file" (change)="onFileSelected($event)" accept=".pdf,.doc,.docx" required>
                                <div *ngIf="syllabusForm.get('syllabus_file')?.invalid && syllabusForm.get('syllabus_file')?.touched" class="text-danger">
                                    Syllabus file is required.
                                </div>
                            </div>
                        </div>                            
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Create Syllabus</button>
            </form>
        </div>
    </div>
</div>

<!-- (change)="onFileSelected($event)" -->