<div class="container-fluid">
    <div class="card shadow mb-4" style="height: 400px;">
        <div class="card-header d-sm-flex align-items-center justify-content-between mb-2 py-3">
            <h6 class="h4 m-0 text-primary" style="font-weight: 500;">Syllabus</h6>
            <a routerLink="/add-syllabus" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-user fa-sm text-white-50"></i> Add Syllabus</a>
        </div> 

        <div class="row">
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" style="margin-left: 40px; margin-top: 20px;" type="button" data-toggle="dropdown" aria-expanded="false">
                        Select Class
                    </button>
                    <div class="dropdown-menu">
                        <a *ngFor="let option of classOptions" class="dropdown-item" href="#" (click)="selectClass(option)">{{ option }}</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" style="margin-left: 40px; margin-top: 20px;" type="button" data-toggle="dropdown" aria-expanded="false">
                        Select Section
                    </button>
                    <div class="dropdown-menu">
                        <a *ngFor="let option of sectionOptions" class="dropdown-item" href="#" (click)="selectSection(option)">{{ option }}</a>
                    </div>
                </div>
            </div>

            <div class="col">
                <button class="btn btn-primary" style="margin-left: 40px; margin-top: 20px;">Filter</button>
            </div>
        </div>
        <div class="text-center" style="margin-top: 10%;">
            <h6>No data found</h6>
        </div>
    </div>
</div>
