.empty-img img {
    width: 150px;
    height: 150px;
}

.form-group.text-dark {
    background-color: rgb(235, 234, 234);
    color: black;
    font-size: 1.25em;
    padding: 10px;
    border-radius: 4px;
    margin-left: 22px;
    margin-top: 8px;

}