.small-box {
  border-radius: 6px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.small-box h3{
  font-weight: 700;
}

.small-box .inner {
  padding: 10px;
  font-weight: 500;
}

.small-box-footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
background-color: rgba(0, 0, 0, 0.1);
}

.small-box-footer i{
  margin-left: 5px;
}
.row {
  margin: 0;
  padding: 15px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card h6{
  color: black;
}

.card-body {
  padding: 20px;
  background-color: #fff;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 275px;
  margin-bottom: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.vertical-axis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
  margin-right: 20px;
  margin-bottom: 21px;
  margin-top: 10px;
  position: relative;
  color: #333;
  font-size: 0.75rem;
  text-align: right;
}

.chart {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  gap: 15px;
  position: relative;
}

.bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  background-color: #007bff;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 5px 5px 0 0;
  position: relative;
  transition: background-color 0.3s;
}

.bar span {
  color: white;
  font-size: 0.75rem;
  margin-bottom: 5px;
}

.bar:hover {
  background-color: #0056b3;
}

.bar-label {
  margin-top: 5px;
  font-size: 0.75rem;
  color: #333;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.mt-3 {
  margin-top: 1rem;
}




// #3acf83

.upcoming-events-card {
  background-color: #1cc88a;
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 500;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      .event-details {
        display: flex;
        flex-direction: column;

        h4 {
          font-size: 1.2rem;
          margin: 0;
        }

        p {
          margin: 0;
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }

  .see-all-btn {
    
    background-color: #3de4a6;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;

    &:hover {
      background-color: #0fdb90;
    }
  }
}
