.small-box {
  border-radius: 6px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.small-box h3{
  font-weight: 700;
}

.small-box .inner {
  padding: 10px;
  font-weight: 500;
}

.small-box-footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
background-color: rgba(0, 0, 0, 0.1);
}

.small-box-footer i{
  margin-left: 5px;
}
.row {
  margin: 0;
  padding: 15px 0px;
}








// #3acf83

.upcoming-events-card {
  background-color: #1cc88a;
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 500;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      .event-details {
        display: flex;
        flex-direction: column;

        h4 {
          font-size: 1.2rem;
          margin: 0;
        }

        p {
          margin: 0;
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }

  .see-all-btn {
    
    background-color: #3de4a6;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;

    &:hover {
      background-color: #0fdb90;
    }
  }
}

.welcome-message {
  padding: 20px;
  background-color: #f8f9fc;
  border-radius: 8px;
}

.name {
  font-size: 24px;
  color: #4E73DF ;
  margin-bottom: 8px;
  font-weight: 500;
}

.school-name {
  font-size: 16px;
  color: #666;
}