<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header d-sm-flex align-items-center justify-content-between mb-2 py-3">
            <h6 class="h4 m-0 text-primary" style="font-weight: 500;">Subject</h6>
            <a routerLink="/add-subject" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
              <i class="fas fa-user fa-sm text-white-50"></i> Add Subject</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="class">Class:</label>
                    <select style="width: 100%;"  formControlName="class" class="form-control" id="class" required>
                        <option value="" disabled selected>Select Class</option>
                        <option *ngFor="let option of classOptions" [value]="option">{{ option }}</option>
                    </select>
                    <div *ngIf="studentForm.get('class')?.invalid && studentForm.get('class')?.touched"
                        class="text-danger">
                        Class is required.
                    </div>
                </div>

                <div class="form-group col-md-6 d-flex align-items-end">
                    <button class="btn btn-primary" (click)="filterData()">Filter</button>
                </div>

            </div>
            <table class="table table-bordered mt-4" *ngIf="showTable">
                <thead>
                    <tr>
                        <th>Subject Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let classSubject of classSubjects">
                        <td>{{ classSubject.name }}</td>
                        <td>
                            <a  routerLink="" class="fas fa-edit text-blue-50 "  style="margin:0px 10px 0px 7px;"></a>
                            <a  routerLink="" class="fas fa-trash-alt" style="color: #ff6347;"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
